<header
    class="flex flex-wrap sm:justify-start sm:flex-nowrap z-50 w-full bg-white text-sm py-3 dark:bg-gray-800"
>
    <nav
        class="w-full mx-auto px-4 sm:flex sm:items-center sm:justify-between lg:px-12"
        aria-label="Global"
    >
        <div class="flex items-center justify-between">
            <a
                class="flex-none text-xl font-semibold dark:text-white"
                href=""
                title="Home page">RE</a
            >
            <div class="sm:hidden">
                <button
                    type="button"
                    class="hs-collapse-toggle p-2 inline-flex justify-center items-center gap-2 rounded-md border font-medium bg-white text-gray-700 shadow-sm align-middle hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-blue-200 transition-all text-sm dark:bg-slate-900 dark:hover:bg-slate-800 dark:border-gray-700 dark:text-gray-200 dark:hover:text-white dark:focus:ring-offset-gray-800"
                    data-hs-collapse="#navbar-collapse-with-animation"
                    aria-controls="navbar-collapse-with-animation"
                    aria-label="Toggle navigation"
                >
                    <svg
                        class="hs-collapse-open:hidden w-4 h-4"
                        width="16"
                        height="16"
                        fill="currentColor"
                        viewBox="0 0 16 16"
                    >
                        <path
                            fill="white"
                            d="M1.321,3.417h17.024C18.707,3.417,19,3.124,19,2.762c0-0.362-0.293-0.655-0.654-0.655H1.321
								c-0.362,0-0.655,0.293-0.655,0.655C0.667,3.124,0.959,3.417,1.321,3.417z M18.346,15.857H8.523c-0.361,0-0.655,0.293-0.655,0.654
								c0,0.362,0.293,0.655,0.655,0.655h9.822c0.361,0,0.654-0.293,0.654-0.655C19,16.15,18.707,15.857,18.346,15.857z M18.346,11.274
								H1.321c-0.362,0-0.655,0.292-0.655,0.654s0.292,0.654,0.655,0.654h17.024c0.361,0,0.654-0.292,0.654-0.654
								S18.707,11.274,18.346,11.274z M18.346,6.69H6.56c-0.362,0-0.655,0.293-0.655,0.655C5.904,7.708,6.198,8,6.56,8h11.786
								C18.707,8,19,7.708,19,7.345C19,6.983,18.707,6.69,18.346,6.69z"
                        ></path>
                    </svg>
                    <svg
                        class="hs-collapse-open:block hidden w-[18px] h-[18px]"
                        width="16"
                        height="16"
                        fill="currentColor"
                        viewBox="0 0 16 16"
                    >
                        <path
                            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
                        ></path>
                    </svg>
                </button>
            </div>
        </div>
        <div
            id="navbar-collapse-with-animation"
            class="hs-collapse hidden overflow-hidden transition-all duration-300 basis-full grow sm:block"
        >
            <div
                class="flex flex-col items-start gap-6 md:gap-10 mt-5 sm:flex-row sm:items-center sm:justify-end sm:mt-0 sm:pl-5"
            >
                <a
                    aria-current="page"
                    class="font-medium text-blue-300"
                    href="#about"
                    title="About section">About</a
                >
                <a
                    class="font-medium text-gray-600 hover:text-gray-400 dark:text-gray-300 dark:hover:text-white"
                    href="#experience"
                    title="Experience section">Experience</a
                >
                <a
                    class="font-medium text-gray-600 hover:text-gray-400 dark:text-gray-300 dark:hover:text-white"
                    href="#work"
                    title="Work section">Work</a
                >
                <a
                    class="font-medium text-gray-600 hover:text-gray-400 dark:text-gray-300 dark:hover:text-white"
                    download="Rayan Encarnación Resume"
                    href="/RayanEncarnaciónResume.pdf"
                    title="Download my resume">Download CV</a
                >
                <a
                    href="#contact"
                    class="py-1 px-4 w-auto inline-block rounded-md border border-blue-300 font-semibold text-gray-100 hover:bg-blue-400 hover:bg-opacity-[.6] focus:outline-none focus:ring-2 focus:ring-blue-300 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800"
                    title="Contact section"
                >
                    Contact
                </a>
            </div>
        </div>
    </nav>
</header>
